@{
    ViewData["Title"] = "API";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh !important;">
    <div class="container-fluid">
        <img class="d-block mx-auto mb-4" src="~/img/logo.svg" alt="WeatherLink logo" width="300">
        <h1 class="display-4 d-block text-center">API para el proyecto WeatherLink.</h1>
    </div>
</div>